html,body{background: #000}
a{text-decoration: none}
/* 按钮样式 */
.box .btn{
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    font-size: 24px;
    background: linear-gradient(90deg ,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    width: 200px;height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    z-index: 99;
}
.btn::before{content: '';position: absolute;z-index: -1;;left: -5px;top: -5px;bottom: -5px;right: -5px;border-radius: 50px; background: linear-gradient(90deg ,#03a9f4,#f441a5,#ffeb3b,#03a9f4);background-size: 400%;filter: blur(20px);}
.btn::before:hover{animation: sun 8s infinite}
.btn:active{color: #fff}
.btn:hover{animation: sun 8s infinite}
@keyframes sun{
    /* 0%{background-position: -400% 0;} */
    100%{background-position: -400% 0;}

}


/* 跳转演示 */
.circle {
    width: 200px;
    height: 50px;
    color: #fff;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 60%;
    transform: translate3d(-50%,-50%,0);
    font-size: 24px;
    text-align: center
    
}
